
<div class="timeline">
    <ul>
      <li>
        <div class="right_content">
          <h2> Full Stack Developer </h2>
          <p class="lead">As a Full-Stack developer i'm working remotely on Upwork for serveral companies around the world and bulding 
              proyects with Net Core(C#) and Angular(Typescript), Angular Material, MSSQL, Microservicios, Docker, Git, DDD, Clean Code, Jira, Scrum methology and always egear
               to learn new web tecnologies.
          </p>
        </div>
        <div class="left_content">
          <h3>February 2021 At UPWORK</h3>
          <h3></h3>
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Backend(Net Core) Developer</h2>
          <p class="lead">I was working as Backend Developer using Net Core, Microservices, Domain Driven Design, Entity Framework, Redis AWS , Docker , Git, Github repository we worked on a Scrum Team using Jira to project managment my tasks were fixing bugs and
               adding new features or create new endpoints among others, i was involved a lot with RestApis.
          </p>
        </div>
        <div class="left_content">
          <h3>Jul - Jan 2020 At LANISTAR</h3>
          <h2></h2>
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Full-Stack developer</h2>
          <p class="lead">I have been working remotely as Full Stack developer using Spring Boot Java, Vuejs, Net Core, Sql Server, Angular 7,
               NodeJS, Material Design, Git, Docker and so on also using Trello for the Project Managment i've been working
                on Ecommerce application, Fitnes, User Control and i was involving with both Backend and frontend side.
          </p>
        </div>
        <div class="left_content">
          <h3>Sept 2019 - 2020 AT DIGITALAPP </h3>
          <!-- <h2>AT DIGITALAPP</h2> -->
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Full Stack(Net + Angular) Developer</h2>
          <p class="lead">I have two years working as Junior Dev with the role of programmer in information systems using web technologies for implementation and agile methodology for project development and evaluation.
            The projects are implemented under the .NET framework, MVC, SQL Server for the server side and Angular (Framework) for the client side, so the construction was on both sides as a programmer.
          </p>
        </div>
        <div class="left_content">
          <h3>2017 - 2018 At QHANATI </h3>
          <!-- <h2></h2> -->
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Sample Text</h2>
          <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
            journalistic styles, a paragraph can be just one sentence long.
          </p>
        </div>
        <div class="left_content">
          <h3>May 2019 </h3>
        </div>
      </li>
      <!-- <li>
        <div class="right_content">
          <h2>Sample Text</h2>
          <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
            journalistic styles, a paragraph can be just one sentence long.
          </p>
        </div>
        <div class="left_content">
          <h3>June 2019 </h3>
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Sample Text</h2>
          <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
            journalistic styles, a paragraph can be just one sentence long.
          </p>
        </div>
        <div class="left_content">
          <h3>July 2019 </h3>
        </div>
      </li>
      <li>
        <div class="right_content">
          <h2>Sample Text</h2>
          <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
            journalistic styles, a paragraph can be just one sentence long.
          </p>
        </div>
        <div class="left_content">
          <h3>August 2019 </h3>
        </div>
      </li> -->
      <div style="clear:both;"></div>
    </ul>
  </div>