<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="router-link-active">Home</a>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-list-item routerLink="/experience" routerLinkActive="router-link-active">Experience</a>
      
      <a mat-list-item routerLink="/portfolio" routerLinkActive="router-link-active">Portfolio</a>
      <a mat-list-item (click)="authService.SignOut()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon>menu</mat-icon>
        </button>
        <span>portfolio</span>
        <span class="menu-spacer"></span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  
  </mat-sidenav-content>
</mat-sidenav-container>
